
.tabs .tab a {
  color: white;
}

.tabs .tab a.active, .tabs .tab a:hover {
  color: black;
}


.inputForm {
  width: 400px;
  height: 50px;
}

.apBlue {
   position:absolute; 
   opacity: 0.4;
   top: 40%;
   left: -15%;
}
.ticket-table{
  align-items: left;
  padding: 30%;
}
.pointerBlue {
  
  
   width: 100% ;
}

.ticket-table td{
  width: 30%;
}

.ticket-table tr{
  width: 20%;
}

.flightCard {
   overflow: hidden;
    padding: 1%;
    width: 70%;
    cursor: pointer;
}

.ulNav{
  margin-left: 90px;
}

.customModal{
  background-color:white;
  z-index: 500;
   width: 70%;
   border: 1px solid #ccc;
   box-shadow: 1px,1px,1px,black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}


.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

