
.tabs .tab a {
  color: white;
}

.tabs .tab a.active, .tabs .tab a:hover {
  color: black;
}


.inputForm {
  width: 400px;
  height: 50px;
}

.apBlue {
   position:absolute; 
   opacity: 0.4;
   top: 80px;
   left: -100px;
}

.pointerBlue {
  height: 100px ;
   width: 200px ;
}


.flightCard {
   overflow: hidden;
    padding: 10px;
    width: 850px;
    cursor: pointer;
}